body {
    background-color: rgb(240,240,240);

}

#main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.photo {
    width: 200px;
}

a {
    color: rgb(102,111,207);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(3,29,53);
  }

.icon:hover {
    transform: scale(1.1);
  }
  
#icons {
    margin: 0;
    padding: 0;
}
  
#icons > li {
    display: inline-block;
    padding: 0 6px;
}
#icons > li > a > img {
    width: 30px;
}